 streamlit
 pandas
 PyPDF2
 io
 re
 sklearn.feature_extraction.text
 sklearn.metrics.pairwise  
 nltk
 nltk.tokenize  
 nltk.corpus 
 string
 sklearn.cluster  
 sklearn.decomposition
 matplotlib.pyplot
 plotly.express
 collections
 streamlit_fontawesome
 langchain.vectorstores
 langchain.embeddings
 langchain.text_splitter
 langchain.chat_models
 langchain.chains
 langchain.prompts
 streamlit_lottie
 json